@import "../font/fira-sans.css";

:root {
    --prime-1: #F77F00;
    --prime-2: #D62828;
    --text: #000;
    --header-height: 100px;
}

body {
    font-family: "Fira Sans", sans-serif;
    color: var(--text);
    overflow-x: hidden;
    min-height: calc(100vh - var(--header-height));
    position: relative;
}

a {
    text-decoration: none;
}

h1 {
    border-bottom: 4px solid;
    border-image-source: linear-gradient(45deg, var(--prime-1), var(--prime-2));
    border-image-slice: 0 0 1 0;
    display: inline-block;
    margin-bottom: 24px;
}

.header {
    height: var(--header-height);
    background-color: white;
}

body, .navbar {
    max-width: 1140px;
    margin: 0 auto;
}

.navbar a {
    font-size: 20px;
    color: var(--text);
}

section {
    padding: 40px 0;
}

section:first-of-type {
    padding-top: calc(40px + var(--header-height));
}

.weichwarenprojekt-logo {
    height: 48px;
    padding-right: 40px;
}


/**
 *
 * First glance
 *
 */
#first-glance {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#first-glance .abstract-intro {
    text-align: center;
    position: relative;
    border: 8px solid;
    border-image-source: linear-gradient(45deg, var(--prime-1), var(--prime-2));
    border-image-slice: 1;
    padding: 24px;
    width: 680px;
    margin-top: 48px;
    font-size: 64px;
}

#first-glance .button-container {
    text-align: center;
    margin-top: 24px;
}

#first-glance .button-container a.btn {
    background-color: black;
    color: white;
    border: 0;
    padding: 8px 48px;
    font-size: 1.4rem;
}

#first-glance .button-container a.btn span {
    height: 1.4rem;
}

#first-glance .button-container a.btn svg {
    height: 1.4rem;
    width: 1.4rem;
    fill: white;
    margin-right: 8px;
}

#first-glance .abstract-container span.we-are {
    right: 148px;
    top: -64px;
    position: absolute;
}

@media screen and (max-width: 1199px) {
    #first-glance {
        padding-top: 72px;
        height: auto;
    }
}

#first-glance .abstract-container .name-container {
    overflow: hidden;
    height: 96px;
}

#first-glance .abstract-container span.name,
#first-glance .abstract-container span.random-slogan{
    transform: translateY(100%);
    display: inline-block;
}


/**
 *
 * About us
 *
 */
img.about-us {
    height: auto;
    width: 90%;
}

/**
 *
 * Showcase
 *
 */
img.showcase-preview {
    width: 100%;
    height: auto;
}


/**
 *
 * Stay tuned
 *
 */
#stay-tuned {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.3rem;
}

#stay-tuned .container {
    text-align: center;
}

#stay-tuned img {
    width: 100%;
    height: auto;
}

/**
 *
 * Navigation
 *
 */
.fixed-top {
    z-index: 900; /* Fix image zoom */
}

@media screen and (max-width: 576px) {
    .navbar-collapse {
        top: 58px;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        background-color: var(--prime-1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-nav .nav-link {
        text-align: center;
        font-size: 3rem;
        color: white !important;
        background-image: linear-gradient(white 50%, white 50%);
        background-size: 10000px 4px;
        background-repeat: no-repeat;
        background-position: -10000px 4.5rem;
    }

    .navbar-nav .nav-link:hover {
        background-position: 0 4.5rem;
        transition: background-position 2s ease-in-out;
    }
}

/* From: https://codepen.io/jorenerene/pen/vxKbJb */
@media screen and (min-width: 577px) {
    .navbar-toggle {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .navbar-toggle.toggle-x {
        border: none;
        background: transparent !important;
        outline: none;
    }

    .navbar-toggle.toggle-x:hover {
        background: transparent !important;
    }

    .navbar-toggle.toggle-x .icon-bar {
        width: 22px;
        height: 2px;
        display: block;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        background-color: #fff;
    }

    .navbar-toggle.toggle-x .icon-bar:nth-of-type(1) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 10% 10%;
        -ms-transform-origin: 10% 10%;
        transform-origin: 10% 10%;
    }

    .navbar-toggle.toggle-x .icon-bar:nth-of-type(2) {
        margin-top: 4px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .navbar-toggle.toggle-x .icon-bar:nth-of-type(3) {
        margin-top: 4px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 10% 90%;
        -ms-transform-origin: 10% 90%;
        transform-origin: 10% 90%;
    }

    .navbar-toggle.toggle-x.collapsed .icon-bar:nth-of-type(1) {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }

    .navbar-toggle.toggle-x.collapsed .icon-bar:nth-of-type(2) {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .navbar-toggle.toggle-x.collapsed .icon-bar:nth-of-type(3) {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
        padding: 9px 10px;
    }
}
