<h1>{{ "legalNotice.title" | translate }}</h1>
<div>
    <h2>Weichwarenprojekt GmbH<br /></h2>
    <h3>{{ "legalNotice.representedBy" | translate }}</h3>
    <p>
        Samuel Hübner <br />
        Stefan Rink <br />
        Tim Niederer<br />
    </p>
    <h3>{{ "legalNotice.postalAddress" | translate }}</h3>
    <p>
        Sedelhofgasse 13<br />
        89073 Ulm
    </p>
    <h3>{{ "legalNotice.contact" | translate }}</h3>
    <p>
        {{ "legalNotice.phone" | translate }}: +49 171 2089964<br />
        {{ "legalNotice.email" | translate }}: info&#64;weichwarenprojekt.de
    </p>
    <h3>{{ "legalNotice.commercialRegister" | translate }}</h3>
    <p>HRB 746378 / Amtsgericht Ulm / USt.-IdNr.: DE 362 137266</p>
    <h3>{{ "legalNotice.boardOfDirectors" | translate }}</h3>
    <p>Samuel Hübner, Tim Niederer</p>
</div>
