<h1>{{ "legalNotice.title" | translate }}</h1>
<div>
    <h2>Weichwarenprojekt<br /></h2>
    <h3>{{ "legalNotice.representedBy" | translate }}</h3>
    <p>
        Karl Wiesmayer <br />
        Philipp Scheede <br />
        Samuel Hübner <br />
        Stefan Rink <br />
        Tim Niederer<br />
    </p>
    <h3>{{ "legalNotice.postalAddress" | translate }}</h3>
    <p>
        Hauptstraße 48<br />
        89614 Öpfingen
    </p>
    <h3>{{ "legalNotice.contact" | translate }}</h3>
    <p>
        {{ "legalNotice.phone" | translate }}: +49 171 2089964<br />
        {{ "legalNotice.email" | translate }}: info@weichwarenprojekt.de
    </p>
    <h3>{{ "legalNotice.salesTaxID" | translate }}</h3>
    <p>DE 351 786229</p>
</div>
