<app-intro-card description="team.description" image="assets/img/team/team.svg" title="team.title"></app-intro-card>

<!-- Electrical engineers -->
<h1 class="title">{{ "team.members" | translate }}</h1>
<div class="members">
    <app-member-card
        degree="team.eeDegree"
        linkedin="https://www.linkedin.com/in/karlwiesmayer/"
        name="Karl Wiesmayer"
        quote="team.karl"
        image="assets/img/team/karl.jpg"
    ></app-member-card>
    <app-member-card
        degree="team.csDegree"
        github="https://github.com/samuelhuebner"
        linkedin="https://www.linkedin.com/in/samuel-h%C3%BCbner-54630a1a1/"
        name="Samuel Hübner"
        quote="team.samu"
        image="assets/img/team/samuel.jpg"
    ></app-member-card>
    <app-member-card
        degree="team.csDegree"
        github="https://github.com/stefan-rink"
        linkedin="https://www.linkedin.com/in/stefan-rink-bb8a34234/"
        name="Stefan Rink"
        quote="team.stefan"
        image="assets/img/team/stefan.jpg"
    ></app-member-card>
    <app-member-card
        degree="team.csDegree"
        github="https://github.com/Timbogen"
        linkedin="https://www.linkedin.com/in/tim-niederer-44992420b/"
        name="Tim Niederer"
        quote="team.tim"
        image="assets/img/team/tim.jpg"
    ></app-member-card>
</div>
