@import "vars";

:host {
    padding: $big-padding $outer-padding;
    max-width: $max-width;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $normal-padding;

    & > app-member-card {
        margin-bottom: $normal-padding;
    }
}

.inner-card {
    margin-bottom: $normal-padding;
}

$gap: calc(#{$normal-padding} / 2);

.members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    width: 100%;

    & > * {
        width: calc(50% - (3rem/2));
    }
}

@media screen and (max-width: $member-breakpoint) {
    .members {
        & > * {
            width: 100%;
        }
    }
}
