@import "vars";

:host {
    display: flex;
    align-items: flex-start;
    background: $grey;
    border-radius: $border-radius;
    padding: $normal-padding;

    img {
        flex: 0 0 auto;
        width: 50%;
        border: 1px solid black;
        border-radius: $border-radius;
    }
}

.showcase-title {
    display: flex;
    align-items: center;
    margin-bottom: $small-padding;
    position: relative;
    cursor: default;

    h2 {
        margin: 0;
    }

    svg {
        margin-right: 1.5rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    &:hover {
        .showcase-title-tooltip {
            opacity: 1;
        }
    }
}

.showcase-title-tooltip {
    transition: all 200ms;
    opacity: 0;
    padding: 0 1rem;
    background: black;
    border-radius: $border-radius;
    white-space: nowrap;
    position: absolute;
    left: calc(100% + 1rem);
    top: 0;
    bottom: 0;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    z-index: 1000;
    font-size: $small;
}

.showcase-description {
    font-weight: 300;
    font-size: $text;
    margin-right: $normal-padding;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1000px) {
    :host {
        flex-direction: column;
        padding: $normal-padding;

        div {
            margin-right: 0;
        }

        img {
            margin-top: $normal-padding;
            width: 100%;
        }
    }
}
