// The colors
@prime-1: #F77F00;
@prime-2: #D62828;
@grey: #F4F4F4;
@font-color: #000;
@gradient: linear-gradient(45deg, @prime-1, @prime-2);

// Text sizes
@h1: 2.8rem;
@h2: 2.2rem;
@h3: 1.3rem;
@text: 1.1rem;
@small: 0.8rem;

// Paddings
@big-padding: 6rem;
@normal-padding: 3rem;

// Border radius
@border-radius: 1rem;

// Header height
@header-height: 6rem;

// The maximum content width
@max-width: 1300px;

// The breakpoint for mobile devices
@mobile-breakpoint: 600px;

// The initial outer padding
@outer-padding: 3rem;

// The initial width of the first glance banner
@first-glance-width: 680px;
