@import "vars";

:host {
    padding: $big-padding $outer-padding;
}

.data-protection {
    max-width: $max-width;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $normal-padding;

    & > div {
        width: 100%;
        background: $grey;
        border-radius: $border-radius;
        padding: $normal-padding;
    }
}
