<div class="npm-stats">
    <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
    <div style="position: relative">
        <div class="statistics">
            <div id="downloadCount" *ngIf="!isLoading">
                <span class="material-symbols-rounded"> download </span>
                <span id="downloadCountText">{{ currentDownloadData.downloads }}</span>
            </div>
            <div id="currentDateRange">
                {{ currentDownloadData.date }}
            </div>
        </div>
        <canvas
            baseChart
            [type]="'line'"
            [data]="npmDownloadChartConfig"
            [options]="npmDownloadsChartOptions"
            [legend]="false"
            *ngIf="!isLoading"
        >
        </canvas>
        <div id="currentPos"></div>
    </div>
</div>

<div class="information">
    <!-- loading indicators -->
    <app-loading-indicator *ngIf="isLoading" [indicatorType]="LoadingIndicatorType.H2"></app-loading-indicator>
    <app-loading-indicator
        *ngIf="isLoading"
        [indicatorType]="LoadingIndicatorType.TEXT"
        [rows]="2"
    ></app-loading-indicator>

    <!-- actual content -->
    <a *ngIf="!isLoading" class="package-title" [href]="general?.url" target="_blank">
        {{ general?.name }}
    </a>
    <span *ngIf="!isLoading">"{{ general?.description }}"</span>
    <div class="keywords">
        <div *ngFor="let keyword of general?.keywords" class="npm-keyword">
            {{ keyword }}
        </div>
    </div>
</div>
