@import "vars";

:host {
    padding: $big-padding $outer-padding;
    max-width: $max-width;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $normal-padding;
}

.card {
    border-radius: $border-radius;
    background: $grey;
    padding: $big-padding;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .col {
        display: flex;
        flex-direction: column;
    }

    #send-button {
        padding-top: $small-padding;
    }

    .row {
        display: flex;
        width: 100%;
        padding-bottom: 2 * $small-padding;
    }

    .row:last-child {
        padding-bottom: 0;
    }

    .row > * {
        padding-left: $small-padding;
    }

    .row > :first-child {
        padding-left: 0;
    }

    .align-left {
        display: flex;
        justify-content: start;
    }
}

.intro-text {
    flex: 1 1 auto;
}

.intro-description {
    font-weight: 300;
    font-size: $h3;
}

.intro-image {
    margin-left: $big-padding;
    width: 50%;
    flex: 0 0 auto;
    max-height: 300px;
}

@media screen and (max-width: $mobile-breakpoint) {
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .intro-image {
        width: 100%;
        margin-left: 0;
        margin-top: $normal-padding;
    }
}
