<!-- Intro -->
<div class="card">
    <div class="row">
        <div class="intro-text">
            <h1>{{ "contact.title" | translate }}</h1>
            <div class="col">
                <div class="intro-description">{{ "contact.description" | translate }}</div>
                <div class="row align-left" id="send-button">
                    <div>
                        <a class="btn btn-primary btn-icon" (click)="openMailtoLink()" href="javascript:void(0)">
                            <app-loading *ngIf="loading"></app-loading>
                            <svg *ngIf="!loading">
                                <use xlink:href="assets/img/icons.svg#email"></use>
                            </svg>
                            {{ "contact.send" | translate }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <img [src]="'assets/img/contact/contact.svg'" alt="Intro Image" class="intro-image" />
    </div>
</div>
