<!-- Intro -->
<app-intro-card
    description="contact.description"
    image="assets/img/contact/contact.svg"
    title="contact.title"
></app-intro-card>

<!-- Contact form -->
<h1 class="title">{{ "contact.submit" | translate }}</h1>
<form #contactForm="ngForm" autocomplete="on" class="contact-form">
    <!-- First Name -->
    <label for="name">* {{ "contact.name" | translate }}</label>
    <input id="name" [(ngModel)]="name" name="name" type="text" required />
    <!-- Company -->
    <label for="company">{{ "contact.company" | translate }}</label>
    <input id="company" [(ngModel)]="company" name="company" type="text" />
    <!-- Email -->
    <label for="email">* {{ "contact.email" | translate }}</label>
    <input id="email" [(ngModel)]="email" name="email" type="email" email required />
    <!-- Message -->
    <label>* {{ "contact.message" | translate }}</label>
    <textarea id="message" [(ngModel)]="message" name="message" required></textarea>

    <!-- Privacy Policy -->
    <div class="checkbox-field">
        <app-checkbox [(toggled)]="privacyPolicyChecked"></app-checkbox>
        <div>
            * {{ "contact.privacy.first" | translate }}
            <a target="_blank" routerLink="/data-protection"> {{ "contact.privacy.second" | translate }}</a>
            {{ "contact.privacy.third" | translate }}
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <!-- Send Button -->
        <a
            [class.disabled]="!contactForm.valid || !privacyPolicyChecked"
            class="btn btn-primary btn-icon"
            (click)="sendEmail()"
        >
            <app-loading *ngIf="loading"></app-loading>
            <svg *ngIf="!loading">
                <use xlink:href="assets/img/icons.svg#email"></use>
            </svg>
            {{ "contact.send" | translate }}
        </a>

        <!-- Error Text -->
        <div class="contact-warning">
            <svg *ngIf="error">
                <use xlink:href="assets/img/icons.svg#error"></use>
            </svg>
            <div>{{ error }}</div>
        </div>
    </div>
</form>
