@import "vars";

:host {
    padding: $big-padding $outer-padding;
    max-width: $max-width;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $normal-padding;
}

#send-button {
    padding-top: $small-padding;
}

@media screen and (max-width: $mobile-breakpoint) {
    #send-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
