name: Deploy to github pages
on:
  push:
    branches:
      - main
jobs:
  gh-pages-deploy:
    name: Deploying to gh-pages
    runs-on: ubuntu-latest
    steps:

      # Install NodeJS
      - name: Install NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: '14.16.0'

      # Checkout branch
      - name: Checkout branch
        uses: actions/checkout@v2

      # Install dependencies
      - name: Install dependencies
        working-directory: ./vue
        run: npm i

      # Deploy the vue app
      - name: Run deploy script
        working-directory: ./vue
        run: |
          git config user.name "Timbogen" && git config user.email "niederer.tim@gmail.com"
          npm run deploy
